@model StudentApp.Models.Student;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Student" asp-action="StudentForm" >Add Student</a>
</div>

     