<!DOCTYPE html>

<html>
<head>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h3>Wellcome to Student Management System</h3>
    </div>
    
    <div>
        @RenderBody()
    </div>
</body>
</html>
